SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="eduardo.marques.arq@gmail.com"
SMTP_PASS="<SENHA_DE_APP_DO_GOOGLE>"

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
